<div class="book-summary">
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div>
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>
            <li class="divider"></li>


            {% for collection in site.collections %}
            <!--                 <p>{{ collection.label }}</p>-->
                {% if collection.label == 'posts'%}
                    {% if collection.output %}
                    {% assign posts = site[collection.label]  %}

                        {% for post in posts %}
                        {% if post.isPublishing %}
                            {% if page.url == post.url %}
                                <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% else %}
                                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}">
                                {{ post.title | escape }}
                            </a>
                            {% if site.toc.enabled %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}

                    <li class="divider">{{collection.label}}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for depth1 in site.data.navigation %}
            {% if depth1.isPublishing %}

                {% if page.url == depth1.link %}
                    <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}{{depth1.link}}">
                {% else %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{depth1.link}}">
                {% endif %}
                <a href="{{site.baseurl}}{{depth1.link}}">
                    {{depth1.name}}
                </a>
                {% if depth1.subMenu %}
                    <ul>
                    {% for depth2 in depth1.subMenu %}
                    {% if depth2.isPublishing %}

                        {% if page.url == depth2.link %}
                            <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{depth2.link}}">
                        {% else %}
                            <li class="chapter" data-level="1.2" data-path="{{site.baseurl}}{{depth2.link}}">
                        {% endif %}
                        <a href="{{site.baseurl}}{{depth2.link}}">
                            {{depth2.name}}
                        </a>
                            {% if depth2.subMenu %}
                            <ul>
                                {% for depth3 in depth2.subMenu %}
                                {% if depth3.isPublishing %}

                                {% if page.url == depth3.link %}
                                <li class="chapter active" data-level="1.3" data-path="{{site.baseurl}}{{depth3.link}}">
                                    {% else %}
                                <li class="chapter" data-level="1.3" data-path="{{site.baseurl}}{{depth3.link}}">
                                    {% endif %}
                                    <a href="{{site.baseurl}}{{depth3.link}}">
                                        {{depth3.name}}
                                    </a>
                                    <ul>
                                {% for post in site['program'] %}
                                    {% if post.category == depth3.name and post.isPublishing %}

                                        {% if page.url == post.url %}
                                        <li class="chapter active" data-level="1.4" data-path="{{site.baseurl}}{{post.url}}">
                                            {% else %}
                                        <li class="chapter" data-level="1.4" data-path="{{site.baseurl}}{{post.url}}">
                                            {% endif %}
                                            <a href="{{site.baseurl}}{{post.url}}">
                                                {{post.title}}
                                            </a>

                                            {% if site.toc.enabled %}
                                                {% if page.url == post.url %}
                                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                    {% endif %}

                                {% endfor %}
                                    </ul>
                                </li>

                                {% endif %}
                                {% endfor %}


                                {% for post in site['program'] %}
                                {% if post.category == depth2.name and post.isPublishing %}

                                {% if page.url == post.url %}
                                <li class="chapter active" data-level="1.3" data-path="{{site.baseurl}}{{post.url}}">
                                    {% else %}
                                <li class="chapter" data-level="1.3" data-path="{{site.baseurl}}{{post.url}}">
                                    {% endif %}
                                    <a href="{{site.baseurl}}{{post.url}}">
                                        {{post.title}}
                                    </a>


                                    {% if site.toc.enabled %}
                                        {% if page.url == post.url %}
                                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                        {% endif %}
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% else %}
                            <ul>
                                {% for post in site['program'] %}
                                {% if post.category == depth2.name and post.isPublishing %}

                                {% if page.url == post.url %}
                                <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                                    {% else %}
                                <li class="chapter" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                                    {% endif %}
                                    <a href="{{site.baseurl}}{{post.url}}">
                                        {{post.title}}
                                    </a>

                                    {% if site.toc.enabled %}
                                        {% if page.url == post.url %}
                                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max%}
                                        {% endif %}
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            <li class="divider"></li>

            <li>
                <a href="https://github.com/sighingnow/jekyll-gitbook/fork" target="blank" class="gitbook-link">
                    Fork it Now!
                </a>
            </li>
        </ul>
    </nav>
</div>