<div class="book-summary">
    <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div>
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>
            <li class="divider"></li>


            {% for collection in site.collections %}
            <!--                 <p>{{ collection.label }}</p>-->
                {% if collection.label == 'posts'%}
                    {% if collection.output %}
                    {% assign posts = site[collection.label]  %}

                        {% for post in posts %}
                            {% if page.url == post.url %}
                                <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                            {% else %}
                                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}">
                                {{ post.title | escape }}
                            </a>
                            {% if site.toc.enabled %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                        {% endfor %}

                    <li class="divider">{{collection.label}}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for item in site.data.navigation %}
                {% if page.url == item.link %}
                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{item.link}}">
                {% else %}
                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{item.link}}">
                {% endif %}
                <a href="{{site.baseurl}}{{item.link}}">
                    {{item.name}}
                </a>

                {% for collection in site.collections %}
                    {% if collection.label == item.code %}

                    {% assign reversed_posts = site[collection.label] | reverse %}
                    <ul>
                        {% for post in reversed_posts %}
                            {% if post.isMenu == true %}

                                {% if page.url == post.url %}
                                    <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                                {% else %}
                                    <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                                {% endif %}
                                        <a href="{{site.baseurl}}{{post.url}}">
                                            {{ post.title | escape }}
                                        </a>
                                    </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
                </li>
            {% endfor %}
            <li class="divider"></li>

            <li>
                <a href="https://github.com/sighingnow/jekyll-gitbook/fork" target="blank" class="gitbook-link">
                    Fork it Now!
                </a>
            </li>
        </ul>
    </nav>
</div>